<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515117871023-c8aom3s6vgtqun187093abjihi6putpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515117871023-c8aom3s6vgtqun187093abjihi6putpc</string>
	<key>API_KEY</key>
	<string>AIzaSyCG0tx7TLsIQjTBQypqhs7rtsu1lNYj2S4</string>
	<key>GCM_SENDER_ID</key>
	<string>515117871023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.au.SimpleNotes</string>
	<key>PROJECT_ID</key>
	<string>notesfirebase-21b64</string>
	<key>STORAGE_BUCKET</key>
	<string>notesfirebase-21b64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:515117871023:ios:41b8ad1bc762f49e29c95a</string>
</dict>
</plist>
